[submodule "yaml-test-suite"]
	path = yaml-test-suite
	url = https://github.com/yaml/yaml-test-suite
[submodule "yaml-ts"]
	path = yaml-ts
	url = https://github.com/eemeli/yaml
[submodule "yaml-rs"]
	path = yaml-rs
	url = https://github.com/chyh1990/yaml-rust
